<?xml version="1.0" encoding="UTF-8"?>
   <suite name="TestNgMavenExampleSuite" parallel="false">
     <test name="TestNgMavenTest">
       <groups>
	<run>
	  <include name = "positive"/>
	</run>
       </groups>
       <classes>
         <class name = "com.itc7.AppTest"/>
       </classes>
     </test>
   </suite>
