<!DOCTYPE html>
<html>
	<head>
		<title>Home page</title>
		<script src="../libs/angular.js"></script>
		<script src="../app/controller.js"></script>
	</head>

<body ng-app="myApp" ng-controller="myCtrl">
  
	<div ng-switch="divId">
		<div ng-switch-when="forgotPass" ng-show="true" >
			<h1>First</h1>
		</div>
		<button ng-click="changeDivId('forgotPass')"> ForgotPassword</button>

		<div ng-switch-when="signIn" ng-show="true">
			<h1>Second</h1>
		</div>
		 <button ng-click="changeDivId('signIn')"> SignIn</button>
		<div ng-switch-when="signUp" ng-show="true">
			<h1>Third</h1>
		</div>
		 <button ng-click="changeDivId('signUp')"> SignUp</button>

	</div>
</body>
</html>
