
	
<div class="border" >
	<h2 class="titleApp">Chats</h2>
	<div class="select1">
	<select>
		<option ng-repeat="x in array" ng-click="ShowUsers()">
		{{x.name}}
		</option>
	</select>
	</div>
	<div class="select2">
	<select>
                <option ng-repeat="x in array" ng-click="ShowUsers()">
                {{x.name}}
                </option>
        </select>
	</div>
	
	<input class="inputMessage"type="text" placeholder="your message" ng-model="message">
	<a href = "#profile"><button class="sendButton">Send</button> </a>
</div>


