<html>
<head>
	<title>Chats</title>
	<script src="../libs/angular.js"></script>
	<script src="../app.js"></script>
	<script src="../controller.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body ng-app="myApp" ng-controller="MainCtrl" ng-model="chats" class="border">
	<h2 class="titleApp">Chats</h2>
	<div class="select1">
	<select>
		<option ng-repeat="x in usersArray" ng-click="ChooseUser()">
		{{x}}
		</option>
	</select>
	</div>
	<div class="select2">
	<select>
                <option ng-repeat="x in usersArray" ng-click="ChooseUser()">
                {{x}}
                </option>
        </select>
	</div>
	
	<input class="inputMessage"type="text" placeholder="your message" ng-model="message">
	<button class="sendButton">Send</button>
</body>
</html>

