<html>
<head>
        <title>Profile</title>
        <script src="../libs/angular.js"></script>
        <script src="../app.js"></script>
        <script src="../profile_controller.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body ng-app="myApp" ng-controller="ProfileCtrl"  class="border">
	<h2 class="titleApp">Profile</h2>
	<div class="select1">
	<select>
		<option ng-repeat="x in users.name" ng-click="ShowUserMessage()">
		{{x}}
		</option>
	</select>
	</div>
</body>
</html>
