     
	<div class="border">
	<h2 class="titleApp">Create Account</h2>
	<div class="registration">
	     <div class="inputStyle">
	       	 <input type="text" placeholder="name" ng-model="user.name" />
		 <input type="text" placeholder="email" ng-model="user.email"/ >
		 <input type="number" placeholder="age" ng-model="user.age" />
		 <input type="text" placeholder="password" ng-model="user.password" />
	     </div>
		<a href = "#chats" class="buttonStyle" ng-click="addUser()" >Registration</a>
	</div>
	</div>

