<!DOCTYPE html>
<html>
		  <head>
					 <title>Chats</title>
					 <link rel="stylesheet" type="text/css" href="/chatProject/css/styles.css">
					 <script src="/chatProject/libs/angular.js"></script>
					 <script src="/chatProject/app/app.js"></script>
					 <script src="/chatProject/app/chatController.js"></script>
		  </head>
		  <body>
					 <div>
								<span>User1 :</span>
								<select ng-model="fromUser" ng-options="item as item.name for item in usersList"></select>
								<span>User2 :</span>
								<select ng-model="toUser" ng-options="item as item.name for item in usersList"></select>
								<span>Message :</span>
									<input ng-model="message" type="text" name="message">
								
									<button ng-click="sendMessage(message)">Send</button>
								
									
								<label>User Messages: </label>
									<select ng-model="selectedItem" ng-options="item as item.name for item in usersList"></select>
								<button ng-click="check=true">Show Messages</button>
								<ul ng-show="check"> 
												        <li ng-repeat="m in usersMessages | filter: selectedItem.name" >
																	 From : {{ m.from }} To : {{ m.to }}  Sent message : {{ m.message }} 
														  </li>
							   </ul>
					 </div>

		  </body>
</html>
