.phone { 
        margin:0 auto;               
        border-radius:10px;
        border: 10px solid black;       
        max-width: 360px;                   
        width:80%; 
		background-image: linear-gradient(to bottom,#B6E4FC,white); 
}       
button {
        border-radius: 10px;            
        border: 0px solid black ; 
		width:80%;
		padding-bottom:5%;
		padding-top:5%; 
		position:relative;
}       
h2{
	text-align:"center"; 
  	margin-top: 5%;
	color:#14608C; 
	text-align:center;
	font-family:arial;
	font-weight: 100;
	margin-bottom: 21%;
	}             
.background_button {     
        background: #1996D4;            
        color: white;
		margin-bottom: 13%;		
}               

.content {        
        margin-top: 43%; 
		margin-bottom: 46%;
		text-align:center;           
}                
img {           
	vertical-align: middle;          
} 

.text{
	width: 80%;
    float: right;
    margin-right: 9%;
}
         
p {
	text-align:center;
} 

button img 
    {
    max-width: 15%;
    position: absolute;
    left: 2%;
    top: 6%;
    }
