.main
{
    width: 360px;
    height: 625px; 
    border: solid 2px black;
    border-radius: 5px; 
    margin: 50px auto; 
    background:linear-gradient(to top, white, #BCE6FD);
}
div h2
{
    
    color: #14608c; 
    margin-top: 35%;
    text-align: center;
}
.back
{
    margin: 7% 5%; 
    border: 1px solid #BAE5FD;
    border-radius: 5px;
    background-color: #BAE5FD;
}
.fb_and_g
{
    border: 1px solid #1491D2;
    border-radius: 5px;   
    margin-left: 15%;
    margin-top: 10%;
    width: 250px;
    height: 40px;
    padding-left: 12%;
    color: white;
    font-size: 17px;
}
.g
{
    margin-top: 28%;
    background: url(../resurses/g+.png) no-repeat;
    background-color: #1491D2;
}
.f
{
    background: url(../resurses/fb.png) no-repeat;
    background-color: #1491D2;
}
.f_marg
{
    margin-top: 55%;
}
.fb_or_g
{
    margin-right: 20%;
    vertical-align: middle;
}
.Email_or_phone
{
    background-color: #D5ECFA;
    color: #1491D2;
    margin-top: 60%;
    margin-left: -7%;
    border: 0px;
}
.password
{
    margin-top: 5%;
    background-color: #D5ECFA;
    color: #1491D2;
    margin-left: 9%;
    border: 0px;
}
.under_score
{
    color: #1491D2;
    width: 90%;
}
.text_log_in
{
    font-size: 26px;
    margin-top: 1%;
}
.circle
{
    margin-top: 20%;
    width: 360px;
    height: 400px;
}
.header
{
    width: 100%;
    height: 18%;
    background-color: #1491D2;
}
.header input
{
    background: url(../resurses/search.png) 5px center no-repeat #FFFFFF;
    background-size: 20px;
    border: none;
    width: 97%;
    margin: 19px 5px;
    padding: 11px 10px 10px 39px;
    color: #1491D2;    
}
.left_side
{
    width: 50%;
    float: left;
}
.right_side
{
    width: 50%;
    float: right;
    padding-top: 7px;
    
}
.none_decoration {
    text-decoration: none;
}

.menu
{
    padding: 8px 0px 0px 9px;
}
.Friends_chats
{
    padding: 0px 0px 0px 27%;
    font-family:arial;
    color: white;
    font-size: 20px;
}
.friend
{
    width: 97%;
    padding: 31px 10px;
}
.photo
{
    width: 20%;
    float: left;
}
.icon
{
    border: 2px solid #14608C;
    border-radius: 15px;
}
.name
{
    width: 50%;
    float: left;
}
.friend p
{
    color: #14608C;
    font: 14px arial;
    font-weight: bold;
    padding-bottom: 1%;
}
.left
{
    width: 10%;
    float: left;
}
.right
{
    width: 20%;
    float: left;
}
.date
{
    width: 10%;
    float: right;
    padding-top: 20px;
    padding-left: 5px;
}
.friend h3
{
    width: 10%;
    float: right;
    color: #6DD6FD;
    font-size: 13px;
} 
.chat_friend
{
   width: 97%;
   padding: 31px 10px;
}
.chat_friend p
{
    color: #14608C;
    font: 12px arial;
    font-weight: bold;
    margin: 6px 0px 0px;
}
.chat_friend h3
{
    color: #6DD6FD;
    font-size: 13px;
    margin-top: 8px;
}
.or
{
    margin-left: -28px;
}
