<div>
<form> 
    <label>From user:  <span> {{signedInAs}} </span></label>
  
    Text Message : <textarea ng-model="chat.message">
    </textarea> <br>
    
    To user: <select  ng-model="tmpSelectUser" ng-options="user.name for user in allUsers">
    </select>

</form>
<button class = "chatButton" ng-click="sendMessage()"> Send message</button>
<button class = "chatButton" ng-click="logout()"> Logout</button><br>
All messages:

<table>
	<tr >
		<th>From User</th>
		<th>To User</th>	
		<th>Message</th>
		<th>Date</th>
	</tr>
	<tr ng-repeat = "chat in tmpChat">
		<td><a ng-click="choiceUser(chat.fromUser)"> {{chat.fromUser}} </a></td>
		<td><a ng-click="choiceUser(chat.toUser)"> {{chat.toUser}} </a></td>    
		<td>{{chat.message}}</td>
		<td>{{chat.currentDate | date:'HH:mm:ss dd, MMMM yyyy'}}</td>
	</tr>
</table>
</div>
