<div> 
<form>
    From user: <select class = "fromUser" ng-model="chat.fromUser" ng-options="user.name for user in allUsers">
    </select>


    Text Message : <textarea ng-model="chat.message">
    </textarea> <br>
    
    To user: <select class = "toUser"  ng-model="chat.toUser" ng-options="user.name for user in allUsers">
    </select>
</form>

<button ng-click="sendMessage()"> Send message</button><br>
<button ng-click="sendMessage"> veiw messages</button><br>

<table>
<tr ng-repeat = "chat in chat">
<th>From User</th>
<th>To User</th>	
<th>Message</th>
</tr>
<tr>
<td>{{chat.fromUser}}</td>
<td>{{chat.toUser}}</td>	    
<td>{{chat.textMessage}}</td>
</tr>
</table>
</div>
