<div>
<div class="floatLeft">
  <form >
  
    First Name:<br>
    <input type="text" ng-model="user.firstName"><br>
    
    Last Name:<br>
    <input type="text" ng-model="user.lastName"><br>

    Email:<br>
    <input type="text" ng-model="user.email"><br>

    Password<br>
    <input type="password" ng-model="user.password"><br>

    <button class="regbutton" type="submit"  ng-click="registration()">Registration</button>
  </form>
</div>

<div class="floatRight ng-scope">
	Users count:  {{users.length}} <br>
	<ul>
	<li ng-repeat= "user in users">
	{{user.name}}
	</li>
	</ul>
</div>
</div>
