<!DOCTYPE html>
<html>
   <head>
      <title>Sign In to HDM</title>
      <link rel="stylesheet" href="../css/style.css">
      <script src="../libs/angular.js"></script>
      <script src="../angularJs/app.js"></script>
      <script src="../angularJs/controller.js"></script>
   </head>
   <body ng-app="app" ng-controller="signInController" class="webSiteBackground">
      <div class="wrapper">
         <div align="center" class="content">
            <div ng-show="div[0]" class="styledBg loginBgSize" >
               <a href="index.html"><img src="../res/icon.png"  class="signInLogoSize"></a>

         	<form action="user/login/" method="post" >
                  <input type="text" name="email" placeholder="Username or Email" class="lightInput"  >
                  <label  ng-click="signIn(2)" id="forgot">Forgot password?</label>
                  <input  id="iPassword"type="password" name="password" placeholder="Password" class="lightInput">
                  <label id="rememberStyle"><input  type="checkbox" name="remember"  >Remember me</label>
                  <button type="submit"  class="blueButton signInButtonSize">Sign In</button>	
            	</form>
		<div align="center"><label ng-click="signIn(1)" class="signUpLink">Create an account</label></div>
          </div>
          <div ng-show="div[2]" class="styledBg loginBgSize" align="center">
            <a href="index.html" ><img src="../res/icon.png"   class="signInLogoSize"></a>
	      <form action="#" >
                  <p class="textUnderRegInput" id="forgotTextAbove">Enter your email address and we will send you a link to reset your password.</p>
                  <input class="lightInput"  placeholder="Enter your email address" type="email">
                  <button class="blueButton signInButtonSize">Send password reset email</button>	
               </form>
		<div align="center"><label  ng-click="signIn(1)"  class="signUpLink">Create an account</label></div>
            </div>
            <!--creating div -->

            <div ng-show="div[1]" class="styledBg loginBgSize" >
            <a href="index.html"><img src="../res/icon.png"  class="signInLogoSize"></a>
       	   <form action="user/" method="post">
                  <div  class="loginBg">
                     <H3>Create your personal account</H3>
                     <!-- input for username-->
			<div ng-repeat="fields in createArray"> 
                     		<input type="{{fields.type}}"  name="{{fields.name}}"  class="regInputSize lightInput" placeholder="{{fields.place}}" >
                     		<p class="textUnderRegInput">{{fields.text}}</p>
			</div>
                     <button type="submit" class ="signInButtonSize blueButton ">Create an account</button>
                  </div>
               </form>
            </div>
            
         </div>
          
      </div>

  <div ng-show="div[3]" class="profileDivSize1 styledBg" id="getMailForPassword">

              <p class="headStyle">Account settings</p>

              <div class="profileInputs" ng-repeat=" prof in profileInputArray">
                <input type="password" name="{{prof.name}}"  class="lightInput profileInputSize">
             </div>

              <div class="profileLabels" ng-repeat="prof in profileInputArray">
                <p class="profileLabelsTop1">{{prof.text}}</p>
              </div>
              
              <button class="blueButton profileButtonSize" >Change password</button>
            </div> 
   </body>
</html>
