<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1">

  <test name="myKaprekar">
    <groups>
        <run>
          <include  name="possitive"/>
          <include name="negative"/>
         </run>
     </groups>

    <parameter name="count" value="3"/> 
    <packages>
          <package name="com.itc7.kaprekar" />
    </packages>
</test>
</suite> 
