.main
{
    margin-left:40%;
    margin-top:10%;
    width:360px;
    height:600px;
    background-color:#bbe5fc;
}
.point
{
	height:20px;
	width:20px;
	padding:40px;
}
.easy
{
	padding-left:25%;
	padding-top:30%;
	color:#155f8a;
}
.table
{
	padding-left:10%;
	padding-top:10%;
}
.text
{
	font-size:30px;
}
