.main
{
    margin-left:40%;
    margin-top:10%;
    width:360px;
    height:600px;
    background-color:#bbe5fc;
}
.bar
{
	background-color:#0489cc;
}
.friends
{
	margin-left:10%;
	color:white;
}
.chats
{
	text-decoration:none;
	margin-left:30%;
	color:white;
}
.submit
{
	padding:0px;
	border:0px;	
	margin-left:5%;
}
.search
{
	margin:3%;
	background-color:white;
}
.img
{
	vertical-align:middle;
}
.list
{
	margin-top:5%;
	margin-bottom:5%;
}
.name
{
	display:inline-block;
	text-decoration:none;
	width:9em;
	color:#0b5c87;
	margin-left:5%;
}
.googleicon
{
	margin-left:5%;
}
