/*@ndhanur */
.main
{
	border:solid;
	margin:5% auto;
	width:320px;
	background-color:#bbe5fc;
	background:linear-gradient(to top, white, #d7effc);
}
.content
{
	text-align:center;
	padding:40% 0%;
}
/*sign in*/
.content h2
{
	font-family:arial;
	font-weight:100;
	color:#155f8a;
}
.button
{
	display:block;
	background-repeat:no-repeat;
	background-color:#1592d1;
	padding:3% 18%;
	margin:10% 5%;
	color:white;
	border-radius:5px;
	border:1px solid #1996d4;
	text-decoration:none;
}
.google_icon
{
	background-image:url("../resource/google.png");
}
.face_icon 
{
	background-image:url("../resource/facebook.png");
}
/*facebook page*/
.back
{	
	padding:5%;
}
/*log in page */
.content input
{
	background-color:transparent;
	border:0px;
	width:90%;
}
.content hr
{
	width:90%;
	height:2px;
	background-color:#0489cc;
}
/* easy board */
.point
{
    height:20px;
    width:20px;
    padding:20px 40px;
}
/* friends list */
header
{
	padding:3% 0%;
    background:#0489cc;
}
header a
{
	float: left;
	text-decoration: none;
    color: white;
}
.floatL
{
    float: left;
	padding:8% 4%;
}
.chat_link
{
    float: right;
	margin-right:20%;
}
.search-box input 
{
    width: 100%;
    padding: 5px 5px 5px 25px;
    background: url(../resource/search.png) 5px center no-repeat #ffffff;
    background-size: 20px;
    border: none;
}
section ul
{
	padding:5%;
	list-style:none;
}
section ul li
{
    margin-top:5%;
    margin-bottom:5%;
}
.name
{
    display:inline-block;
    text-decoration:none;
    width:9em;
    color:#0b5c87;
    margin-left:5%;
}
.img
{
    vertical-align:middle;
}
/*chats page*/
.time
{
	float:right;
	color:#0b5c87;
}
.friend-item
{
    float: left;
}
.message
{
    width: 58%;
    margin-left: 2%;
}
