<div  class="border">
	<h2 class="titleApp">Profile</h2>
	<div class="select1">
	<select>
		<option ng-repeat="x in users.name" ng-model="x" ng-change="ShowUserMessage(x)">
		{{x}}
		</option>
	</select>
	<img src="../res/profile.jpg"></img>
	<button ng-click="ViewChats()">ViewChats</button>
	<div ng-if="x">
		<table >
		<thead>
		<tr>
			<th>name</th>
			<th>message</th>
		</tr>	
		</thead>
		<tbody>
		<tr ng-repeat="sms in ChatList">
			<td>{{sms.name}}</td>
			<td>{{sms.message}}</td>
		</tr>
		</tbody>
	</table>	

	</div>
	</div>
</div>
