body {
	background-color:#CCCCCC;
}
.phone { 
        margin:0 auto;               
        border-radius:10px;
        border: 10px solid black;       
        max-width: 360px;                   
        width:80%; 
		background-image: linear-gradient(to bottom,#B6E4FC,white); 
}
a.button {
        background-color:#1491D2;
        text-decoration:none;
        display:block;
        border-radius: 10px;
        border: 0px solid black ;
        width:80%;
        padding-bottom:5%;
        padding-top:5%;
        position:relative;
        margin-left: 9%;
        font-size: 16px;
        font-weight: bold;
        font-family: arial;
}


.password{
	color: #4EBDEC;
	max-width: 320px;
	width:90%;
    	padding-bottom:5%;
	padding-top:5%;
	background-color: transparent;
    	border-left: none;
    	border-right: none;
    	border-top: none;
    	border-bottom: 2px solid #1491d2;
}

::-webkit-input-placeholder {color: #4EBDEC;}
::-moz-placeholder          {color: #4EBDEC;}
:-moz-placeholder           {color: #4EBDEC;}
:-ms-input-placeholder      {color: #4EBDEC;}

.background_button {     
        background: #1996D4;            
        color: white;
	margin-bottom: 13%;		
}

.content {        
        margin-top: 43%; 
	margin-bottom: 46%;
	text-align:center;           
}

.back {
        margin-left: 4%;
        margin-top: 8%;
        width: 8%;
}

p {
	text-align: center;
}

img {
	vertical-align: middle;
}

button img 
    {
    max-width: 15%;
    position: absolute;
    left: 2%;
    top: 6%;
    }
.fb_icon {
        background-color:#1491D2;
        background:url(../images/fb.png) 12px center no-repeat;
        background-size:15%;
        margin-top:15%;
}

