body {
    width:70%;
    height:70%;
    margin:auto;
    
}


.header {
    background: #4C8485;
    height: 25%;
    width:100%;
    font-size:30px;
    color:#FFF;
    padding:3%;
    text-align:center;


}
.area {
    padding:3%;
    background:#dddddd;
    width:100%;
}
input {
    padding:1%;
 margin:1% 0%; 
}

a {
    border:1px solid #dddddd;
    padding:1% 8%;
    margin-top:2%;
    background: #4C8485;
    color:#FFF;
    border-radius:10px;
    font-size:19px;
}

button {
    border:1px solid #dddddd;
    padding:1% 6%;
    margin-top:2%;
    background: #4C8485;
    color:#FFF;
    border-radius:10px;
    font-size:19px;
}

.sendbutton{
    margin-left:14%;
}
.fromUser {
    margin-left:4%;
    margin-right: 4%;
}

.toUser {
    margin-left:6%;
    margin-right:4%;
    margin-top:2%;
}

textarea {
    margin-top: 2%;
    margin-left: 2%;
    padding: 0% 5%;
    resize: none;
    vertical-align: inherit;
}
