body {
    width:70%;
    height:70%;
    margin:auto;
    
}


.header {
    background: #4C8485;
    height: 25%;
    width:100%;
    font-size:30px;
    color:#FFF;
    padding:3%;
    text-align:center;


}
.area {
    padding:3%;
    background:#dddddd;
    width:100%;
}
input {
    padding:1%;
 margin:1% 0%; 
}

button {
    padding:1% 8%;
    margin-top:2%;
    background: #4C8485;
    color:#FFF;
    border-radius:10px;
    font-size:19px;
}
