#amboxj 
{
    width: 360px;
    height:625px; 
    border:solid 2px black;
    border-radius:5px; 
    margin:50px auto; 
    background-color:#BAE5FD
}
#slaq
{
    margin-top: 10%;  
    border: 1px solid #BAE5FD;
    border-radius: 5px;
    background-color: #BAE5FD;
}
.login_password
{
    color: #1491D2;
    margin-top: 30%;
    margin-left: 5%;
    border: 0px;
    background-color: #bbe5fc;
    color: #1491D2;
}
#log_pass
{
    width: 310px;
    margin-left: 8%;
    margin-top: 20%;
}
#log
{
    width: 300px;
    margin-top: 10%;
    margin-left: 9%;
    background-color: #1491D2;
    border: 0px;
}
#img
{
    margin-right: 50%;
    vertical-align: middle;
}
