body 
    {
	background-color: #cccccc;
    }

h2   
    {
	margin-top: 5em;
	color:#14608C; 
	text-align:center;
	font-family:arial;
	font-weight: 100;
    }
.content_center div
    {
	margin-top:100px;
    }

#phone_border 
    {	
	text-align:center; 
	margin:350px 600px;
	width: 20em;
	height: 35em;
	border: 20px solid #666666;
	border-radius: 25px;
    }

.content_center 
    {
	padding-top:1px;
	border-radius: 8px;
	width:20em;
	height:35em;
	background-color: #C4E9FD;
    }

button 
    {
	 width:300px; 
	 height:50px; 
	 background-color:#1993D4; 
	 color:white; 
	 font-size:14px;
	 border-radius:7px;
	 text-align: center;
	 border:none;
	 vertical-align: middle;
	 background-repeat: repeat-y;
	 background-size: 3em 3em;
    }

button img 
    {
	float: left;
	width: 15%;
    }
.google_icon {
	background-image: url("../img/goog.png")

}
.facebook_icon {
	background-image: url("../img/facebook1.png")
}
