.phone {
	margin-left: 35%;
	border-radius:10px;
	border: 10px solid black;
	width: 360px;
	height: 625px;
	background-image: linear-gradient(to bottom,#B6E4FC,white);
}

.blokline {
	margin-bottom: 45px;
}
.password {
	margin-left:18%;
	/*margin-right: 10px;*/
	margin-top: 50%;
}
img {
	margin-left: 45px;
	width:15;
}
.text {
	margin-top: 50%;
}

